.corner {
  width: 40px;
  height: 50px;
  border: 4px solid transparent;
  border-image: linear-gradient(#55B000, #50790B) 1;
  border-radius: 10px;
  position: relative;
}

.left-corner {
  border-top: none;
  border-right: none;
}

.right-corner {
  border-left: none;
  border-bottom: none;
}
