@import "tailwindcss";

/* @font-face {
  font-family: "Indie Flower";
  src: url("./assets/fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
} */
